extends base.pug

block scripts
  script(src='/index.js')
  
block style 
   style
      include style.css
      include styleabout.css
block content
    div.container      
        h1 About Us
           //  video(width='920', height='640', autoplay='', muted='')
           //     source(src='dance.mp4', type='video/mp4')
           //     source(src='movie.ogg', type='video/ogg')
           //     | Your browser does not support the video tag.
        p Animesh Dance Academy was founded on the 14th of March 2022 by Animesh Singh with a vision of providing quality dance education with high class professional infrastructure at affordable prices in Lucknow. Today Animesh Dance Academy is one of the better known names for high quality dance education, has been featured on various national and international TV channels and newspapers as the best in its field. ADA has been awarded “The Best Dance Academy in Lucknow” and the “Certificate of Excellence” various times. 

    footer#footer
        | Copyright © 2022 AnimeshAcademy.com | All Rights Reserved
