extends base.pug

block scripts
  script(src='/index.js')
  
block style 
   style
      include style.css
      include styleinfo.css
block content
    div.container      
        h1 Information Related Classes
            footer#footer
        | Copyright © 2022 AnimeshAcademy.com | All Rights Reserved