extends base.pug

block scripts
  script(src='/index.js')
  
block style 
   style
      include style.css
      include styleser.css
block content
    div.container      
        h1 Services
        div.flex-container
                div.container1     
                    flex Classical Dance classes For Boys
                div.container2
                    flex  Hip Hop Dance classes For Girls
    
                div.container3 
                    flex Boys Bollywood Services
                div.container4 
                    flex Belly Dance classes For Boys
    
                div.container5  
                    flex Belly Dance classes For Girls
                div.container6 
                    flex Belly Dance Classes
        